<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>CloudDrive</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>InitServlet</servlet-name>
    <servlet-class>com.clouddrive.servlet.InitServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <context-param>
    <param-name>sql_dialect</param-name>
    <param-value>mysql</param-value>
  </context-param>
  <context-param>
    <param-name>data_source</param-name>
    <param-value>clouddrive</param-value>
  </context-param>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.clouddrive.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/DoLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.clouddrive.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/DoRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpLoadServlet</servlet-name>
    <servlet-class>com.clouddrive.servlet.UpLoadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpLoadServlet</servlet-name>
    <url-pattern>/UpLoad</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListFilesServlet</servlet-name>
    <servlet-class>com.clouddrive.servlet.ListFilesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListFilesServlet</servlet-name>
    <url-pattern>/ListFiles</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownLoadServlet</servlet-name>
    <servlet-class>com.clouddrive.servlet.DownLoadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownLoadServlet</servlet-name>
    <url-pattern>/DownLoad</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.clouddrive.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/DoLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MkDirServlet</servlet-name>
    <servlet-class>com.clouddrive.servlet.MkDirServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MkDirServlet</servlet-name>
    <url-pattern>/MkDir</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShareFileServlet</servlet-name>
    <servlet-class>com.clouddrive.servlet.ShareFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShareFileServlet</servlet-name>
    <url-pattern>/ShareFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShareServlet</servlet-name>
    <servlet-class>com.clouddrive.servlet.ShareServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShareServlet</servlet-name>
    <url-pattern>/Share</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShareListServlet</servlet-name>
    <servlet-class>com.clouddrive.servlet.ShareListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShareListServlet</servlet-name>
    <url-pattern>/ShareManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelShareServlet</servlet-name>
    <servlet-class>com.clouddrive.servlet.DelShareServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelShareServlet</servlet-name>
    <url-pattern>/DelShare</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DelFileServlet</servlet-name>
    <servlet-class>com.clouddrive.servlet.DelFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelFileServlet</servlet-name>
    <url-pattern>/DelFiles</url-pattern>
  </servlet-mapping>
  
  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>com.clouddrive.filter.LoginFilter</filter-class>
    <init-param>
      <param-name>LOGIN_PATH</param-name>
      <param-value>/CloudDrive/home.jsp</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/auth/*</url-pattern>
  </filter-mapping>
  <resource-ref>
    <res-ref-name>jdbc/clouddrive</res-ref-name>
    <res-auth>Container</res-auth>
  </resource-ref>
</web-app>